@media(max-width:1040px) {
   main{
    flex-direction: column;
    height: 100%;
    padding: 80px 0;
   }

   section.conteudo{
    order: 1;
    border-top-left-radius: 0;
    border-bottom-right-radius: 8px;
   }

   img{
    border-top-left-radius: 8px;
    border-bottom-right-radius: 0;
   }

   section.conteudo .paragraph{
    margin-bottom: 30px;
   }

   div.info{
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }

   section.conteudo{
    max-height: 550px;
   }
}

@media(max-width:560px){
    section.conteudo{
        width: 300px;
        padding: 30px;
    }

    section.conteudo h1{
        font-size: 25px;
        text-align: center;
    }

    section.conteudo .paragraph{
        text-align: center;
        font-size: 14px;
    }

    img{
        width: 300px;
    }
}